extends layout

block content
  h1= title 
  ul          
    each book in book_list
      li 
        if book.status=="還沒看過"
          img(src="../img/uncheck.png" )
        else
          img(src="../img/check.png" )                  
        a(href=book.url)  [ #{book.no} ] #{book.title} 

    else
      li There are no books


