extends layout

block content
  h1= title
    img(src="img/logo.jpg" ) 
    
  p 歡迎光臨 #[em A&C 無責書評佐羅力], 由Austin & Claire評價看過的佐羅力故事.

  h1 動態統計內容

  if error
    p Error getting dynamic content.
  else
    p The library has the following record counts:

    ul
      li #[strong Books:] !{data.book_count}

